<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.tsx" verb="*" modules="iisnode" />
    </handlers>
        <defaultDocument enabled="true">
            <files>
                <add value="index.tsx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>

    
    <!-- the index.tsx file is a node.js application 
    to be handled by the iisnode module -->